<html>
  <head>
    <title>Foodie</title>
  </head>
  <body>
    <h1>Your results said that you were a foodie!</h1>
    <p>You should go to Mike's Pastry's. This pastry shop in The North End is a vital part of any trip to Boston, and their iconic cannoli should not be overlooked.</p>
    <img src="https://lh3.ggpht.com/p/AF1QipNT1xKZZlQ_4scliM8u7l3-K3XK-h0eWQ-jB0RQ=w513-h384-n">
    
    
    
    <a href="http://www.mikespastry.com/">Mikes Pastry Website</a>
  <p>Already been to Mike's Pastry? Click <a href=food.erb>here</a> to get more options.</p>
  </body>
</html>
