<html>
  <head>
   
   
    <title>Boston</title>
    <link rel = "stylesheet" type = "text/css" href = "style.css">


  <body>
    <h1><u>Are you Looking for Something to Do in Boston?</u></h1>
    <p id ="try">Our Website will give you a great selection of  <a href ="http://67.205.188.72:56847/">shopping</a>,  <a href ="https://www.kodewithklossy.com">food</a>, <a href ="https://www.kodewithklossy.com">historic attractions</a>, <a href ="https://www.kodewithklossy.com">scenic areas</a>, and <a href ="https://www.kodewithklossy.com">live entertainment</a> within the area. Please click on one of the underlined words to discover the activities that are under that subject!</p>
    <div id="example1"</div>
<img src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/boston-skyline-at-night-panorama-jon-holiday.jpg">
    
    <h2> Take this 
  

  <h1>About the Coders:</h1>
  
    <p>This website was created by Kelly Cotter, Kira Hartness and Ella Sklar! We all live in Massachusetts and we grew up loving our city, Boston! We have spent our childhood watching Tom Brady throw spirals and seeing the many works of Claude Monet at the Museum of Fine Arts Boston. We wanted to teach our users about all the great things to do in Boston! We hope you find our website useful during your next visit!</p>
     <img src= "https://mail.google.com/mail/u/0/?ui=2&ik=fc6e40a5a8&view=att&th=164a9df36217e4bc&attid=0.1&disp=safe&zw" width=50%>
      <h1>Our Inspiration:</h1>
        <p>During our time at the Kode with Klossy summer camp in Boston we found that our instructors did not know what to do in Boston over the weekend. However, when they went to websites like Yelp, the website only showed the basic attractions  unlike the hidden jems that are located in Boston. We then decided to create a project that can help people like our instructors find great places to visit based on their preferences.</p>
</body>
        <footer>
          <h1>Special Thanks!</h1>
            <p>We would just like to designate this area of our website to thank Grace Park and Megan and our TA's for teaching us everything we know about code! We would also like to thank Karlie Kloss and the Kode with Klossy program for teaching giving us the oppurtunity to make great friends and giving us a head start on our future's as computer programmers.</p>
            
          
        </footer>
              
              </html>

