<html>
  <head>
    <title>Learning</title>
  </head>
  <body>
    <h1> Your results said that you love to learn!</h1>
    <p>You should go on a duck tour! These educational tours give you all sorts of information on the history of Boston, go in both the land and the water, and are also really Fun!</p>
    <img src="https://www.smartdestinations.com/img/pt/dest/Bos/att/Bos_Att_Boston_Duck_Tour_Bonus/gallery/Boston-Duck-Tour-Bonus-1.jpg">
    <a href="http://www.bostonducktours.com/">Boston Duck Tour Website</a>
  <p>Already been on a Duck Tour? Click <a href=learn.erb>here</a> to get more options</p>
  </body>
</html>

