<html>
  <head>
    <title>Entertainment </title>
  </head>
  <body>
    <h1> Your quiz said that you love entertainment!</h1>
    <p> You should go to TD Garden. This massive stadium in Boston hosts many concerts and sporting events throughout the year. You should go check them out!!</p>
    <img src="https://www.kimptonhotels.com/blog/wp-content/uploads/2015/01/TD-Garden.jpg">
    <a href="https://www.tdgarden.com/">TD Garden Website </a>
  </body>
</html>


