<html>
  <head>

    <title>Outdoors</title>
  </head>
  <body>
    <h1>Your results said that you were an Outdoor Lover!</h1>
    <p>You chould go to the Boston Common. This outdoor park in Boston is a great place to go for a jog, bike around, or even do some yoga!</p>
    <img src="https://www.theboxerboston.com/wp-content/uploads/2015/09/Boston-000060701660_Small.jpg">
    <a href="https://www.boston.gov/parks/boston-common">Boston Common Website</a>
  <p>Already been to Boston Commons? Click <a href=outdoor.erb>here</a> to get more options</p>
  </body>
</html>
